bin/*
tmp/*
pch*
build/*
*.sdf
*.osdf
*.opensdf
ipch/
lib/openal/build/*

/lib/glfw/COPYING.txt
/lib/glfw/Makefile
/lib/glfw/compile.bat
/lib/glfw/compile.sh
/lib/glfw/docs/Makefile
/lib/glfw/docs/Reference.pdf
/lib/glfw/docs/UsersGuide.pdf
/lib/glfw/docs/cleanup.bat
/lib/glfw/docs/glfwdoc.sty
/lib/glfw/docs/glfwrm.tex
/lib/glfw/docs/glfwug.tex
/lib/glfw/docs/readme.txt
/lib/glfw/examples/Makefile.carbon
/lib/glfw/examples/Makefile.carbon.universal
/lib/glfw/examples/Makefile.cocoa
/lib/glfw/examples/Makefile.win32.cross-mgw
/lib/glfw/examples/Makefile.win32.lcc
/lib/glfw/examples/Makefile.win32.mingw
/lib/glfw/examples/Makefile.win32.msys
/lib/glfw/examples/Makefile.win32.ow
/lib/glfw/examples/Makefile.x11.in
/lib/glfw/examples/boing.c
/lib/glfw/examples/bundle.sh
/lib/glfw/examples/gears.c
/lib/glfw/examples/getopt.c
/lib/glfw/examples/getopt.h
/lib/glfw/examples/heightmap.c
/lib/glfw/examples/listmodes.c
/lib/glfw/examples/mipmaps.c
/lib/glfw/examples/mipmaps.tga
/lib/glfw/examples/mtbench.c
/lib/glfw/examples/mthello.c
/lib/glfw/examples/particles.c
/lib/glfw/examples/pong3d.c
/lib/glfw/examples/pong3d_field.tga
/lib/glfw/examples/pong3d_instr.tga
/lib/glfw/examples/pong3d_menu.tga
/lib/glfw/examples/pong3d_title.tga
/lib/glfw/examples/pong3d_winner1.tga
/lib/glfw/examples/pong3d_winner2.tga
/lib/glfw/examples/splitview.c
/lib/glfw/examples/triangle.c
/lib/glfw/examples/wave.c
/lib/glfw/readme.html
/lib/glfw/support/d/examples/Makefile.win32.dmd
/lib/glfw/support/d/examples/boing.d
/lib/glfw/support/d/examples/gears.d
/lib/glfw/support/d/examples/keytest.d
/lib/glfw/support/d/examples/listmodes.d
/lib/glfw/support/d/examples/mipmaps.d
/lib/glfw/support/d/examples/mtbench.d
/lib/glfw/support/d/examples/mthello.d
/lib/glfw/support/d/examples/particles.d
/lib/glfw/support/d/examples/pong3d.d
/lib/glfw/support/d/examples/splitview.d
/lib/glfw/support/d/examples/triangle.d
/lib/glfw/support/d/examples/wave.d
/lib/glfw/support/d/imports/gl.d
/lib/glfw/support/d/imports/glfw.d
/lib/glfw/support/d/imports/glu.d
/lib/glfw/support/d/lib/glfwdll.def
/lib/glfw/support/d/lib/glu32.def
/lib/glfw/support/d/lib/makefile
/lib/glfw/support/d/lib/opengl32.def
/lib/glfw/support/msvc100/GLFW.sln
/lib/glfw/support/msvc100/GLFW.vcxproj
/lib/glfw/support/msvc100/GLFWDLL.vcxproj
/lib/glfw/support/msvc100/accuracy.vcxproj
/lib/glfw/support/msvc100/boing.vcxproj
/lib/glfw/support/msvc100/defaults.vcxproj
/lib/glfw/support/msvc100/dynamic.vcxproj
/lib/glfw/support/msvc100/events.vcxproj
/lib/glfw/support/msvc100/fsaa.vcxproj
/lib/glfw/support/msvc100/fsinput.vcxproj
/lib/glfw/support/msvc100/gears.vcxproj
/lib/glfw/support/msvc100/heightmap.vcxproj
/lib/glfw/support/msvc100/iconify.vcxproj
/lib/glfw/support/msvc100/joysticks.vcxproj
/lib/glfw/support/msvc100/listmodes.vcxproj
/lib/glfw/support/msvc100/mipmaps.vcxproj
/lib/glfw/support/msvc100/mtbench.vcxproj
/lib/glfw/support/msvc100/mthello.vcxproj
/lib/glfw/support/msvc100/particles.vcxproj
/lib/glfw/support/msvc100/peter.vcxproj
/lib/glfw/support/msvc100/pong3d.vcxproj
/lib/glfw/support/msvc100/reopen.vcxproj
/lib/glfw/support/msvc100/splitview.vcxproj
/lib/glfw/support/msvc100/tearing.vcxproj
/lib/glfw/support/msvc100/triangle.vcxproj
/lib/glfw/support/msvc100/version.vcxproj
/lib/glfw/support/msvc100/wave.vcxproj
/lib/glfw/support/msvc110/GLFW.sln
/lib/glfw/support/msvc110/GLFW.vcxproj
/lib/glfw/support/msvc110/GLFWDLL.vcxproj
/lib/glfw/support/msvc110/accuracy.vcxproj
/lib/glfw/support/msvc110/boing.vcxproj
/lib/glfw/support/msvc110/defaults.vcxproj
/lib/glfw/support/msvc110/dynamic.vcxproj
/lib/glfw/support/msvc110/events.vcxproj
/lib/glfw/support/msvc110/fsaa.vcxproj
/lib/glfw/support/msvc110/fsinput.vcxproj
/lib/glfw/support/msvc110/gears.vcxproj
/lib/glfw/support/msvc110/heightmap.vcxproj
/lib/glfw/support/msvc110/iconify.vcxproj
/lib/glfw/support/msvc110/joysticks.vcxproj
/lib/glfw/support/msvc110/listmodes.vcxproj
/lib/glfw/support/msvc110/mipmaps.vcxproj
/lib/glfw/support/msvc110/mtbench.vcxproj
/lib/glfw/support/msvc110/mthello.vcxproj
/lib/glfw/support/msvc110/particles.vcxproj
/lib/glfw/support/msvc110/peter.vcxproj
/lib/glfw/support/msvc110/pong3d.vcxproj
/lib/glfw/support/msvc110/reopen.vcxproj
/lib/glfw/support/msvc110/splitview.vcxproj
/lib/glfw/support/msvc110/tearing.vcxproj
/lib/glfw/support/msvc110/triangle.vcxproj
/lib/glfw/support/msvc110/version.vcxproj
/lib/glfw/support/msvc110/wave.vcxproj
/lib/glfw/support/msvc90/GLFW.sln
/lib/glfw/support/msvc90/GLFW.vcproj
/lib/glfw/support/msvc90/GLFWDLL.vcproj
/lib/glfw/support/msvc90/accuracy.vcproj
/lib/glfw/support/msvc90/boing.vcproj
/lib/glfw/support/msvc90/defaults.vcproj
/lib/glfw/support/msvc90/events.vcproj
/lib/glfw/support/msvc90/fsaa.vcproj
/lib/glfw/support/msvc90/fsinput.vcproj
/lib/glfw/support/msvc90/gears.vcproj
/lib/glfw/support/msvc90/joysticks.vcproj
/lib/glfw/support/msvc90/listmodes.vcproj
/lib/glfw/support/msvc90/mipmaps.vcproj
/lib/glfw/support/msvc90/mtbench.vcproj
/lib/glfw/support/msvc90/mthello.vcproj
/lib/glfw/support/msvc90/particles.vcproj
/lib/glfw/support/msvc90/peter.vcproj
/lib/glfw/support/msvc90/pong3d.vcproj
/lib/glfw/support/msvc90/reopen.vcproj
/lib/glfw/support/msvc90/splitview.vcproj
/lib/glfw/support/msvc90/tearing.vcproj
/lib/glfw/support/msvc90/triangle.vcproj
/lib/glfw/support/msvc90/version.vcproj
/lib/glfw/support/msvc90/wave.vcproj
/lib/glfw/support/pascal/Triangle.dpr
/lib/glfw/support/pascal/glfw.pas
/lib/glfw/support/pascal/mipmaps.dpr
/lib/glfw/tests/Makefile.carbon
/lib/glfw/tests/Makefile.carbon.universal
/lib/glfw/tests/Makefile.cocoa
/lib/glfw/tests/Makefile.win32.cross-mgw
/lib/glfw/tests/Makefile.win32.mingw
/lib/glfw/tests/Makefile.win32.msys
/lib/glfw/tests/Makefile.x11.in
/lib/glfw/tests/accuracy.c
/lib/glfw/tests/bundle.sh
/lib/glfw/tests/defaults.c
/lib/glfw/tests/dynamic.c
/lib/glfw/tests/events.c
/lib/glfw/tests/fsaa.c
/lib/glfw/tests/fsinput.c
/lib/glfw/tests/getopt.c
/lib/glfw/tests/getopt.h
/lib/glfw/tests/iconify.c
/lib/glfw/tests/joysticks.c
/lib/glfw/tests/peter.c
/lib/glfw/tests/reopen.c
/lib/glfw/tests/tearing.c
/lib/glfw/tests/version.c
/projects/VS2012/CRAPdisplay/Debug/CL.read.1.tlog
/projects/VS2012/CRAPdisplay/Debug/CL.write.1.tlog
/projects/VS2012/CRAPdisplay/Debug/CRAPdisplay.Build.CppClean.log
/projects/VS2012/CRAPdisplay/Debug/CRAPdisplay.lastbuildstate
/projects/VS2012/CRAPdisplay/Debug/CRAPdisplay.log
/projects/VS2012/CRAPdisplay/Debug/Lib-link.read.1.tlog
/projects/VS2012/CRAPdisplay/Debug/Lib-link.write.1.tlog
/projects/VS2012/CRAPdisplay/Debug/cl.command.1.tlog
/projects/VS2012/CRAPdisplay/Debug/lib.command.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link-cvtres.read.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link-cvtres.write.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link-rc.read.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link-rc.write.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link.command.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link.read.1.tlog
/projects/VS2012/CRAPdisplay/Debug/link.write.1.tlog
/projects/VS2012/CRAPdisplay/Debug/vc110.idb
/projects/VS2012/CRAPdisplay/Debug/vc110.pdb
/projects/VS2012/CRAPdisplay/Debug/window.obj
/projects/VS2012/CRAPdisplay/Release/CL.read.1.tlog
/projects/VS2012/CRAPdisplay/Release/CL.write.1.tlog
/projects/VS2012/CRAPdisplay/Release/CRAPdisplay.lastbuildstate
/projects/VS2012/CRAPdisplay/Release/CRAPdisplay.log
/projects/VS2012/CRAPdisplay/Release/CRAPdisplay.unsuccessfulbuild
/projects/VS2012/CRAPdisplay/Release/cl.command.1.tlog
/projects/VS2012/CRAPdisplay/Release/vc110.pdb
/projects/VS2012/CRAPunittests/freeglut.dll
/projects/VS2012/Debug/CRAPdisplay.lib
/projects/VS2012/Debug/CRAPdisplay.pdb
